<div ng-controller="homeController" class="modal-demo">

    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Create new task</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="createTask">
            <div class="col-md-12">
                <label>Title</label>
                <input type="text" class="form-control" name="title" ng-model="taskData.title">
            </div>

            <div class="col-md-12">
                <label>Description</label>
                <input type="textarea" class="form-control" name="title" ng-model="taskData.desc">
            </div>

            <div class="col-md-12">
                <label>Due date</label>
                <div uib-datepicker ng-model="taskData.dueDate" class="well well-sm" datepicker-options="options"></div>
            </div>


        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="createTask()">Create</button>
    </div>

</div>